@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
}


/* ABOUT-OUR-SERVICES */
.about-our-services {
    text-align: center;
    margin-top: 90px;
}

.about-our-services>h6 {
    margin-bottom: 25px;
}

.about-our-services>h1 {

    font-family: "DM Serif Display", sans-serif;
    margin-bottom: 25px;

    font-size: 50px;

}

.about-our-services>div,
.content1 {
    line-height: 30px;
    font-family: "urbanist";
}

@media screen and (max-width:500px) {

    .about-our-services {
        width: 100vw !important;
    }
}


@media screen and (max-width:800px) {

    .about-our-services {
        width: 100vw !important;

    }
}

@media screen and (min-width:800px) {
    .about-our-services {
        width: 100vw !important;

    }

}

/* WHAT CAN WE OFFER */
.wt-can-we-offer {
    text-align: center;
    margin-top: 10%;

}

.wt-can-we-offer>h1 {
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    margin-bottom: 6%;

}


.img-container {
    margin-left: 10px;
    width: 50%;
    height: 50%;

}

/* CARDS-WORK */
.card {
    margin: 15px;
    padding: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.card:hover {
    background-color: rgb(75, 142, 197);

    transition: 0.2s ease-in-out;
    color: white !important;
}


.card-body {
    width: 20rem;
    height: 15rem;
    position: absolute;
    line-height: 28px;
    bottom: 30px !important;

}

hgroup {
    font-weight: 400;
    font-family: "DM Serif Display", sans-serif;
    margin-bottom: 15px;
    margin-top: -20px;
}

.card-body>p.card-text {

    font-family: "urbanist" sans-serif;


}

.home-services {
    font-family: "urbanist" sans-serif;
}

/* CAROUSEL-SLIDER */


.Testimonial {
    margin-top: 100px;
}

.Testimonial>h6 {
    margin-bottom: 30px;
    font-family: "urbanist" sans-serif;
}

.Testimonial>h1 {
    font-size: 50px;
    font-weight: 400;
    font-family: "DM Serif Display", sans-serif;
    margin-bottom: 40px;
}

.card-slider {
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 15px;
    color: rgb(255, 255, 255);
}

.main {
    margin-left: 15px;
}

.main>h5 {

    display: inline;
    margin-top: -20rem !important;
}


article>.card-slider,
.main {
    display: inline-block;
}


.main>img {
    margin-left: 170px;
    margin-top: -40px;
}

.main>h5 {

    font-weight: 400;
    font-family: "DM Serif Display", sans-serif;
}

.underline {
    width: 120px;
    height: 4px;
    background: rgb(75, 142, 197);
    margin-top: 10px;
    border-radius: 5px;

}

.card-slider {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 15px;
    margin-bottom: 50px;
    padding: 15px;
    color: black;
    font-weight: 400;
    font-family: "urbanist" sans-serif;
}

.card-slider:hover {
    background-color: rgb(75, 142, 197);
    transition: 0.2s ease-in-out;
    color: white !important;
}

.underline:hover {
    background: black;
}



.carousel-item {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    display: block;
}

#carouselExample {
    margin-bottom: 13%;
}




@media screen and (max-width:767px) {

    .carousel-slide {
        height: 60%;
        display: inline-block;

    }

    #carouselExample {

        width: 50% !important;
    }

    .underline {
        width: 100px;
        height: 3px;

    }

    .carousel-item {
        flex-direction: column;
    }

    .card-slider {
        width: 80vw !important;
        height: 45vh !important;
        border: 1px solid rgb(14, 22, 134);
        overflow: hidden;
        padding: 15px;
        margin-right: 10%;
        margin: 20px auto;
        color: black;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }


    article>.card-slider,
    .main {
        display: block;
    }

    .main>img {

        margin-bottom: 10px;
        margin-top: 60px;
        float: right;
        width: 50px !important;
        height: 50px !important;
    }

}


@media screen and (max-width:1078px) {

    .carousel-slide {
        height: 60%;
        display: inline-block;
    }


    #carouselExample {

        width: 50% !important;
    }

    .underline {
        width: 100px;
        height: 3px;
    }

    .carousel-item {
        flex-direction: column;
    }

    .card-slider {
        width: 60vw !important;
        height: 33vh !important;
        border: 1px solid rgb(14, 22, 134);
        overflow: hidden;
        padding: 15px;
        margin-right: 10%;
        margin-bottom: -30px;
        margin: 20px auto;
        color: black;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }

    article>.card-slider,
    .main {
        display: block;
    }

    .main>img {
        margin-left: 130px;
        margin-bottom: 30px;
        margin-top: -40px;
        float: right;
        width: 70px;
        height: 70px;

    }

}

/* FOOTER-WORK */

/* footer {
    height: 58rem !important;
    width: 98.5vw;
    background: black;
    box-sizing: border-box !important;
    background-size: cover !important;

}

.first {
    height: 85%;
    width: 45%;
    display: inline-block;
    margin-top: 60px;
    margin-left: 75px;
    padding: 20px;
}

.second {
    height: 91%;
    background: white;
    width: 43%;
    display: inline-block;
    margin-top: 10px !important;
    padding-top: 12% !important;
    margin-right: 80px;
    padding: 20px;
    text-align: center;
}


.first-div {

    margin-top: 20px;
    margin-bottom: 35px;
}

.first-div>p {
    margin: 18px 5px;
    font-size: 17px;
}

.first-div>h1 {
    font-size: 55px;
    font-family: "DM Serif Display", sans-serif;
    font-family: "urbanist" sans-serif;
}

.second-div>h1 {


    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: "DM Serif Display", sans-serif;



}

.second-div {
    margin-top: -20px;
    padding: 15px;
    line-height: 23px;
}

.head-office>h4 {

    font-family: "DM Serif Display", sans-serif;
    margin: 50px 0px;
}

.head-office>p {
    font-family: "urbanist" sans-serif;

}

.icons>.phone,
.email,
.whatsapp {
    display: inline;
    margin: 5px;
    margin-top: 25px !important;
}

.phone,
.email.whatsapp>h6,
p {
    display: inline;
    margin: 5px;
}


.phone,
.email,
.whatsapp>img,
img,
img {
    margin-bottom: 15px;
}


@media screen and (max-width:767px) {

    footer {
        height: 140rem !important;
        width: 120vw !important;
        background: black;
        box-sizing: border-box !important;
        background-size: cover !important;
    }


    .first {
        height: 38%;
        width: 100vw;
        background: black;
        float: none;
        display: block;
        margin-top: 0px;
        margin-left: 0px;
        padding: 15px;
    }

    .second {
        background: white;
        width: 100vw;
        height: 53% !important;
        float: none;
        display: flex;
        margin-left: 50px;
        display: block;
        margin-top: 20px;
        margin-right: 0px;
        padding: 15px;
        text-align: center;
    }

    .inpu .icons>.email,
    .whatsapp,
    .phone {

        display: block;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .icons {
        flex-wrap: wrap;
        height: 30%;
    }

    .icons>.whatsapp {
        margin: 20px 45px;
    }

    .whatsapp {
        margin-left: 4rem !important;
    }

    .icons>.email {
        margin: 20px 35px;
    }

    .icons>.phone {
        margin: 20px 45px;
    }

    .first-div>p {
        margin-top: 5px;
    }


    .inputs {
        width: 22rem !important;
    }

    .second-div {
        margin-top: 0px;
    }
}

@media screen and (max-width:1078px) {

    footer {
       
        height: 140rem !important;
        width: 120vw;
        box-sizing: border-box !important;
        background-size: cover !important;
    }

  

    .first {
        width: 70%;
        background-color: black;
        float: none;
        display: block;
        margin-top: 0px;
        margin-left: 0px;
        padding: 15px;
    }

    .second {
        height: 60% !important;
        background: white;
        width: 80vw;
        display: flex;
        float: none;
        display: block;
        margin-top: 0px;
        margin-right: 0px;
        padding: 15px;
        text-align: center;
    }

    .icons>.email,
    .whatsapp,
    .phone {

        display: block;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .icons {
        flex-wrap: wrap;
        height: 30%;
    }

    .icons>.whatsapp {
        margin: 20px 40px;
    }

    .whatsapp {
        margin-left: 4rem !important;
    }

    .icons>.email {
        margin: 20px 35px;
    }

    .icons>.phone {
        margin: 20px 45px;
    }

    .first-div {
        margin-left: 10%;
    }

    .second-div {
        margin-top: 0px;
    }
} */

/* PROJECT WORK */

.new-class-project-back {
    background: rgb(248, 248, 248);
}

/*.... */



.categories {

    margin-top: 5%;
    font-weight: 650;
    font-family: "urbanist" sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

#for-margin {
    margin-left: 20%;
}

@media screen and (max-width:600px) {

    #for-margin {
        margin-left: 0px !important;
    }


}






/* card */

.card-bodys {
    width: 20rem;
    height: 16rem !important;
    position: absolute;
    line-height: 28px;
    bottom: 30px !important;
    padding: 10px 10px;
}

.card-bodys>hgroup {
    font-weight: 400;
    font-family: "DM Serif Display", sans-serif;
    margin-bottom: 15px;
    margin-top: 25px;
}

.card-bodys>p.card-text {

    font-family: "urbanist" sans-serif;
}

/* Carousel */

.carousel2nd {
    background-color: deeppink;
    height: 100vh
}

.header1 {
    margin-bottom: 20px;
}

.head-office2 {

    font-family: "urbanist" sans-serif;
}

.plot {
    font-family: "urbanist" sans-serif;
    font-weight: 250px;
}

.site {
    font-size: 50px;
    font-family: "DM Serif Display", sans-serif;
    margin-bottom: 20px;
}

.contact-section {
    margin-top: 70px;
    background: #ece9e9;
    margin-bottom: 50px;
    width: 90%;
    padding: 20px;
}

.mysection>h4 {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400px;
}

.hOver:hover {
    color: white;
    background-color: rgb(75, 142, 197);
    transition: 0.2s ease-in-out;
    border-radius: 10px;

}





.img-back {
    background-image: url(ASSETS/Services-hearder-img.webp);
    background-color: rgb(241, 241, 241);
    width: 100% !important;
    height: 20rem !important;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}


@media screen and (max-width:600px) {
    .img-back {
        height: 35vh !important;
        background-position: center;
    }

}

.img-back>.main-content1 {
    position: relative;
    top: 70px;
}

.main-content1>h1 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 45px;
    font-family: "DM Serif Display", sans-serif;
}

.main-content1>h6 {
    font-family: "urbanist" sans-serif !important;
}







/* header-work */
.img-backs {
    background-image: url(ASSETS/img9.png);
    background-color: rgb(241, 241, 241);
    width: 100% !important;
    height: 20rem !important;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}


@media screen and (max-width:600px) {
    .img-backs {
        height: 35vh !important;
        background-position: center;
    }

}

.img-backs>.main-content2 {
    position: relative;
    top: 70px;
}

.main-content2>h1 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 45px;
    font-family: "DM Serif Display", sans-serif;
}

.main-content2>h6 {
    font-family: "urbanist" sans-serif !important;
}



/* navbar */

nav {
    height: 50x;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(18, 18, 189);
}

.navbar-brand {
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 50%;
    border-right-color: transparent;
    position: relative;
}

.navbar-brand::before {
    content: "BMP";
    color: rgb(18, 18, 189);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    font-family: "DM Serif Display", serif;
}

.nav-link,
.dropdown-item {
    font-family: "urbanist", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 3px solid transparent;
    transition: 3s ease;
}

.nav-link:hover,
.dropdown-item:hover {
    border-bottom: 3px solid black;
    color: rgb(18, 18, 189);
}

.active {
    border-bottom: 3px solid rgb(18, 18, 189);
    transition: 3s ease;
}

.btn {
    cursor: pointer;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}



/* your's footer */


#footer {
    height: 100% !important;
    width: 98vw;
    background: black;
    margin-left: 10px;
    background-size: cover !important;
}

.bgcl {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-div {
    padding: 10px;
    line-height: 23px;
}

.display-5 {
    font-family: "Playfair Display", serif;
    color: rgb(5, 162, 235);
    font-weight: 400;
    /* text-shadow: 2px 2px 6px #000000; */
}

.first-div .fh {
    /* text-shadow: 2px 2px 6px gray; */
    color: rgb(0, 153, 255);
    font-size: 65px !important;
    font-weight: 600;
}

#footer1 {
    background-color: rgb(18, 18, 189);
    height: 70px;
}

@media only screen and (max-width: 768px) {
    #footer1 {
        text-align: center;
        font-size: 13px !important;
    }

    #footer {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 418px) {
    #footer1 {
        height: 80px;
    }

}